target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/
.metadata/

# macOS
.DS_Store

# Other
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
